<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.8/uuid.js"></script>

<hr/>

<div>
  <h3>Create a new ToDo list</h3>
  <form id="create-list-form">
    <div>
      <label for="list-name">Enter name of list to create: </label>
      <input id="list-name" type="text"/>
      <button type="submit" id="create-todo">Submit</button>
      <span id="status"></span>
    </div>
    <div>
      <span style="color: red" id="error-message"></span>
    </div>
  </form>
</div>

<div>
  <h3>Existing lists</h3>
  <ul id="todo-lists">
    {{#each lists}} {{#if completed}}
      <li>
        <del><a href="/lists/{{listId}}">{{title}}</a></del>
      </li>
    {{else}}
      <li><a href="/lists/{{listId}}">{{title}}</a></li>
    {{/if}} {{else}}
      <p>No lists</p>
      <p><i>If you expect to see something here, check that you created the Projection definitions in the Readme.</i>
      </p>
    {{/each}}
  </ul>
</div>

<div>
  <h3>Projected stats</h3>
  <div>Lists: <span id="listCount"></span></div>
  <div>Todos: <span id="todoCount"></span></div>
  <div>Completed todos: <span id="completedTodoCount"></span></div>
  <div id="stats-status"></div>
</div>

<script>
  $('#stats-status').text('Loading...');

  $.getJSON('/stats', function (data) {
    $('#todoCount').text(data.todoCount);
    $('#listCount').text(data.listCount);
    $('#completedTodoCount').text(data.completedTodoCount);
    $('#stats-status').fadeOut(500);
  });

  $('#create-list-form').submit(function (e) {
    e.preventDefault();
    var listId = uuid.v4();
    var listName = $("#list-name").val();
    $('#list-name').val('');
    $('#error-message').text('');
    $("#status").show();
    $('#status').html('Saving...');

    $.ajax('/lists/commands/create-list', {
      type: 'POST',
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({listId: listId, name: listName})
    }).done(function () {
      $("#todo-lists").append('<li><a href=\"/lists/' + listId + '">' + listName + '</a></li>');
    }).fail(function (response) {
      console.log(response.responseJSON.error);
      $('#error-message').text('Error: ' + response.responseJSON.error);
    }).always(function () {
      $('#status').fadeOut(1500);
    })
  });

</script>
