<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.8/uuid.js"></script>

<div id="todolist" style="margin-top: 30px;">
  <h1>{{title}}</h1>

  {{#if completed}}
    {{#each todos}}
    <div>
      <del>{{text}}</del>
    </div>
    {{/each}}
  {{else}}
    <form id="create-todo-form">
      <input id="todo-text" type="text" />
      <input type="hidden" id="list-id" value="{{listId}}" />
      <button type="submit" id="create-todo">Create new todo</button>
    </form>

    <div id="todos">
      {{#each todos}}
      <div>
        <input class="todo" type="checkbox" id="{{todoId}}" {{checked}} value="{{todoId}}" /> {{#if checked}}
        <del><label id="label-{{todoId}}" for="{{todoId}}">{{text}}</label></del>
        {{else}}
        <label id="label-{{todoId}}" for="{{todoId}}">{{text}}</label> {{/if}}
      </div>
      {{else}}
      <p>No todos.</p>
      <p><i>If you expect to see something here, check that you created the Projection definitions in the Readme.</i></p>
      {{/each}}
    </div>
  {{/if}}
</div>

<script>
  $('.todo').change(function (e) {
    var todoId = e.target.id
    var listId = $('#list-id').val()
    e.target.disabled = "disabled"
    $.ajax('/lists/commands/complete-todo', {
      type: 'POST',
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({ todoId: todoId, listId: listId })
    }).done(function () {
      e.target.disabled = ""
      $('#label-' + todoId).wrap('<del></del>')
    }).fail(function () {
      console.log('error')
    });
  })

  $('#create-todo-form').submit(function (e) {
    e.preventDefault()
    var todoText = $('#todo-text').val()
    var listId = $('#list-id').val()
      var todoId = uuid()
    $('#todo-text').val('');
    $("#todos").prepend('<p id="' + todoId + '">Adding: ' + todoText + '</p>');
    $.ajax('/lists/commands/create-todo', {
      type: 'POST',
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({ text: todoText, todoId: todoId, listId: listId })
    }).done(function () {
      var todoInput = '<input class="todo" type="checkbox" id="' + todoId + '" value="' + todoId + '" />';
      var todoLabel = '<label for="' + todoId + '">' + todoText + '</label>';
      var todoDiv = '<div>' + todoInput + todoLabel + '</div>'
      $('#' + todoId).replaceWith(todoDiv);
    }).fail(function () {
      console.log('error')
    });

  });

</script>
